In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("diabetes_prediction_dataset.csv")
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [13]:
df_diabetes = df[ df["diabetes"] == 1]
df_diabetes

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
6,Female,44.0,0,0,never,19.31,6.5,200,1
26,Male,67.0,0,1,not current,27.32,6.5,200,1
38,Male,50.0,1,0,current,27.32,5.7,260,1
40,Male,73.0,0,0,former,25.91,9.0,160,1
53,Female,53.0,0,0,former,27.32,7.0,159,1
...,...,...,...,...,...,...,...,...,...
99935,Female,65.0,1,1,never,33.55,8.2,140,1
99938,Male,55.0,0,1,former,30.42,6.2,300,1
99957,Female,61.0,0,0,No Info,34.45,6.5,280,1
99962,Female,58.0,1,0,never,38.31,7.0,200,1
99979,Female,61.0,0,0,current,30.11,6.2,240,1

In [16]:
df_no_diabetes = df[ df["diabetes"] == 0]
df_no_diabetes

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [30]:
df[['diabetes']].value_counts()

diabetes
0           91500
1            8500
Name: count, dtype: int64

In [27]:
print("Mean of Ages")
print("Total:", df["age"].mean())
print("No Diabetes:", df_no_diabetes["age"].mean())
print("Diabetes:", df_diabetes["age"].mean())

Mean of Ages
Total: 41.885856
No Diabetes: 40.115186885245905
Diabetes: 60.946588235294115

In [32]:
df["smoking_history"].value_counts()

smoking_history
No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: count, dtype: int64

In [34]:
df_no_diabetes["smoking_history"].value_counts()

smoking_history
No Info        34362
never          31749
current         8338
former          7762
not current     5757
ever            3532
Name: count, dtype: int64

In [33]:
df_diabetes["smoking_history"].value_counts()

smoking_history
never          3346
former         1590
No Info        1454
current         948
not current     690
ever            472
Name: count, dtype: int64

In [43]:
df_little = df[ df["age"] < 10 ]
df_little["diabetes"].value_counts()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
5092,Female,4.0,0,0,No Info,14.99,6.5,260,1
6566,Female,9.0,0,0,never,16.00,6.1,200,1
7987,Male,6.0,0,0,never,15.69,6.1,220,1
14275,Female,9.0,0,0,No Info,21.29,6.8,140,1
22000,Female,8.0,0,0,No Info,14.32,7.5,280,1
29893,Male,3.0,0,0,No Info,27.32,5.7,200,1
32160,Male,4.0,0,0,never,18.70,6.0,280,1
40352,Male,6.0,0,0,No Info,15.63,9.0,200,1
43269,Female,6.0,0,0,No Info,27.32,6.6,130,1
44678,Female,7.0,0,0,No Info,20.23,9.0,155,1
48089,Female,4.0,0,0,never,15.13,8.8,280,1
51774,Female,7.0,0,0,never,17.91,7.5,200,1
53497,Female,7.0,0,0,never,17.05,9.0,159,1
57769,Male,4.0,0,0,No Info,17.23,5.8,200,1
60553,Male,6.0,0,1,ever,17.17,6.5,240,1
60758,Female,9.0,0,0,never,18.01,8.8,280,1
62670,Female,4.0,0,0,never,17.69,6.6,140,1
74825,Female,4.0,0,0,never,16.60,8.8,240,1
82900,Female,7.0,0,0,No Info,16.44,5.8,260,1
86421,Female,5.0,0,0,No Info,15.38,6.1,140,1
95263,Male,7.0,0,0,not current,15.40,8.2,280,1
97268,Male,9.0,0,0,never,16.09,6.8,260,1

In [47]:
df_little_diabetes = df_little[ df_little["diabetes"] == 1]
df_little_diabetes["blood_glucose_level"].mean()

215.63636363636363

In [46]:
df_little_no_diabetes = df_little[ df_little["diabetes"] == 0]
df_little_no_diabetes["blood_glucose_level"].mean()

132.62022587268993